<div class="row">
  <div class="small-12 columns ui">
    <label>{{t "register.districts"}}</label>
    <ul class="radio-buttons">
      <li class="radio active" {{action 'findDistrictbyTerritory' on="click"}} >All</li>
      {{#each allTerritory}}
        <li class="radio" {{action "findDistrictbyTerritory" this on="click"}}>
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns ui">
    <label>
      {{view "select"
        contentBinding='districtsByTerritory'
        optionLabelPath='content.name'
        optionValuePath='content.id'
        selectionBinding='currentSelected'
        value=''
        promptBinding='selectDistrictLabel'
        optionClassPath='dropdowncls'}}
    </label>
  </div>
</div>
