<div class="row">
  <div class="small-12 columns">
    <span class="form-label">{{t "register.districts"}}</span>
    <div class="radio-buttons">
      <span class="radio">
        <a href='#' class="radio-wrap active" {{action 'findDistrictbyTerritory'}} id='all'>All</a>
      </span>

      {{#each allTerritory}}
        <span class="radio">
          <a href='#' class="radio-wrap" {{action 'findDistrictbyTerritory' this}}>{{name}}</a>
        </span>
      {{/each}}

    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <label>
      {{view "select"
        contentBinding='districtsByTerritory'
        optionLabelPath='content.name'
        optionValuePath='content.id'
        selectionBinding='currentSelected'
        value=''
        promptBinding='selectDistrictLabel'
        optionClassPath='dropdowncls'}}
    </label>
  </div>
</div>
