<div class='file_preview'>
  {{#if this.previewImageId}}
    {{cloudinary-image imageId=previewImageId width=200 height=250 action="setPreviewImageId"}}
    {{#if hasManyImages}}
      <button {{action "setFavouriteImage" previewImageId}} class='setFavourite'>{{t "upload-images.favourite"}}</button>
    {{/if}}
    {{#if requireImageAtEdit}}
      <button {{action "removeImage" previewImageId}}>{{t "delete"}}</button>
    {{/if}}
  {{/if}}
</div>

<div>
  <ul class='image_list'>
    {{#each imageId in imageIds}}
      <li>
        {{cloudinary-image imageId=imageId height=50 width=50 action="setPreviewImageId"}}
        {{favourite-star imageId=imageId favouriteId=favourite}}
      </li>
    {{/each}}
  </ul>
</div>

<div>
  {{#if addMoreImages}}
    {{upload-image action='updatePreview' image_id=''}}
  {{else}}
    <div>{{t "upload-images.angles"}}</div>
    <button {{action "setMoreImages"}}>{{t "upload-images.add_another"}}</button>
  {{/if}}
</div>

{{loading-image}}

<button {{ action 'next'}} {{bind-attr disabled="this.noImage"}} class='add_item_link'>{{t "next"}}</button>
<button {{ action 'back'}}>{{t "back"}}</button>
