<div class='file_preview'>
  {{#if this.previewImageId}}
    {{cloudinary-image previewImageId width=200 height=250}}
    {{#if hasManyImages}}
      <button {{action "setFavouriteImage" previewImageId}}>{{t 'upload-images.favourite'}}</button>
    {{/if}}
    <button {{action "removeImage" previewImageId}}>{{t 'delete'}}</button>
  {{/if}}
</div>

<div>
  <ul class='image_list'>
    {{#each imageId in imageIds}}
      {{cloudinary-image imageId height=50 width=50}}
      {{favourite-star imageId favourite}}
    {{/each}}
  </ul>
</div>

<div {{bind-attr class='addMoreImages::hidden_block'}} id='more_image'>
  {{upload-image action='updatePreview' image_id=''}}
</div>

<div {{bind-attr class='addMoreImages:hidden_block'}} id='more_image'>
  <button class='more_image_link'>{{t 'upload-images.add_another'}}</button>
  <p>{{t 'upload-images.angles'}}<p>
</div>

{{loading-image}}
