<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offers' classNames="back"}}{{t "application.home"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Item Details</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row item-details">
    <div class="small-12 columns with-btm">

      <form>
        <div class="row">
          <div class="small-4 large-2 columns fav-item-image">

            {{#if this.model }}
              {{#link-to 'item.edit_images' class='edit-image-link'}}
                {{cloudinary-image imageId=previewImageId width=100 height=150 className='fav_image'}}
                <span>{{t "items.add_item.edit_image"}}({{images.length}})</span>
              {{/link-to}}
            {{else}}
              {{#link-to 'items.new' class='edit-image-link'}}
                {{cloudinary-image imageId=previewImageId width=100 height=150 className='fav_image'}}
                {{t "items.add_item.edit_image"}}
              {{/link-to}}
            {{/if}}

          </div>

          <div class="small-8 large-10 columns">
            {{textarea type='text' value=donorDescription name="donorDescription" rows=8 }}
            {{input type="hidden" value=offerId name="offerId" }}
          </div>
        </div>

        {{donor-conditions selectedId=donorConditionId}}

      </form>

      <div class="btm">
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <button {{action "submitItem"}} class='add_item_link button expand'>{{t "items.add_item.save"}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
