  <p>
    <div class='edit_image_block'>

      {{image-tag previewImageId width=100 height=150 className='fav_image'}}

      {{#if this.model }}
        {{#link-to 'item.edit_images' class='edit-image-link'}}{{t items.add_item.edit_image}}{{/link-to}}
      {{else}}
        {{#link-to 'items.new' class='edit-image-link'}}{{t items.add_item.edit_image}}{{/link-to}}
      {{/if}}

    </div>

    {{textarea type='text' value=donorDescription name="donorDescription" rows=10 cols=20 }}

    {{input type="hidden" value=offerId name="offerId" }}
  </p>

  <p>
    <div>{{t items.add_item.condition}}</div>
    {{donor-conditions selectedId=donorConditionId}}
  </p>

  <button {{action "submitItem"}}>{{t next}}</button>
  <button {{action 'back'}}>{{t back}}</button>
