<p>
  {{log controller}}
  <h2>Add New Item</h2>

  {{upload-image}}

  <div class='loading_image'>
    <img src='image-preload.gif' ></img>
    <span class='progress'></div>
  </div>

  <div>
    <ul class='file_names'>
    </ul>
  </div>

  <div class='sceneUpBtn'></div>


  <p>
    <label>Donor description</label>
    {{input type="text" value=donorDescription name="donorDescription" }}
    {{input type="hidden" value=offerId name="offerId" }}
  </p>

  <p>
    Condition? <br/>

    {{#each condition in itemConditions}}
      <label>
        {{view 'radio-button' name="selectionTest" selectionBinding="donorCondition" value=condition}}
        {{condition}}
      </label>
    {{/each}}
  </p>

  <p><button {{action "createItem"}}>Next</button></p>
</p>
