<p>
  <h2>Add Photos of this Item</h2>

  <div class='file_preview'>
    {{#if this.previewImageId}}
      {{image-tag previewImageId width=200 height=250}}
      <button {{action "favouriteImage" previewImageId}}>Favourite</button>
      <button {{action "removeImage" previewImageId}}>Delete</button>
    {{/if}}
  </div>

  <div>
    <ul class='image_list'>
      {{#each imageIds}}
        {{image-tag this height=50 width=50}}
        {{favourite-star this controller.favourite isNew=true}}
      {{/each}}
    </ul>
  </div>

  <div {{bind-attr class='addMoreImages::hidden_block'}} id='more_image'>
    {{upload-image action='updatePreview' image_id=''}}
  </div>

  <div {{bind-attr class='addMoreImages:hidden_block'}} id='more_image'>
    <button class='more_image_link'>Add another image</button>
    <p>Got all the angles of this item?<p>
  </div>

  <div class='loading_image'>
    <img src='assets/images/image-preload.gif' ></img>
    <span class='progress'></div>
  </div>

  <p>
    {{#if this.model}}
      <button {{ action 'updateDetails'}} {{bind-attr disabled="this.noImage"}} class='add_item_link'>Next</button>
    {{else}}
      <button {{ action 'addDetails'}} {{bind-attr disabled="this.noImage"}} class='add_item_link'>Next</button>
    {{/if}}
  </p>
</p>
