<div>{{t "item.item_details"}}</div>

<div>
  <div>{{t "item.donor_description" donorDescriptionBinding="donorDescription"}}</div>
  <div>{{t "item.condition" conditionBinding="donorCondition.name"}}</div>
</div>

<div>{{t "images"}}</div>

{{#each image in images}}
  <img {{bind-attr src="image.thumbImageUrl"}}>
{{/each}}

<button {{action 'back' this}} class='backButton'>{{t "back" }}</button>
