{{partial 'start_review'}}

<br/>

<h3>Awaiting Review({{awaitingReview.length}})</h3>
<div class= 'row'>
  {{#each awaitingReview}}
    {{#link-to 'review_item' this}}
      {{cloudinary-image imageId=defaultImageId width=50 height=50 className='fav_image'}}
    {{/link-to}}
  {{/each}}
</div>

<br/>

<h3>Rejected({{rejected.length}})</h3>
<div class= 'row'>
  {{#each rejected}}
    {{#link-to 'review_item' this}}
      {{cloudinary-image imageId=defaultImageId width=50 height=50 className='fav_image'}}
    {{/link-to}}
  {{/each}}
</div>
