<section class="main-section">
  <div class="row ui">

    {{#if pendingItem}}
      <p>
        <p><span class="icon-no-items"></span></p>
        <p class="no-items">
          Please finish reviewing items first!
        </p>
      </p>

    {{else}}

      <div class="small-12 columns">
        <h3>Accepted Items ({{accepted.length}})</h3>
        {{#each item in accepted}}
          {{#link-to ''}}
            <img {{bind-attr src=item.displayImageUrl}} class="thumbnail" />
          {{/link-to}}
        {{/each}}
      </div>

      {{#if isReviewed}}

        <div class="small-12 columns">
          <div class = 'transport_details'>
            Gogovan Reqirement: {{gogovanTransport.name}}
          </div>
          <div class = 'transport_details'>
            Crossroads Requirement: {{crossroadsTransport.name}}
          </div>
        </div>

      {{else}}

        <div class="small-12 columns gogovan-req">
          <div class='description'>Gogovan Hire Requirement</div>

          <div class='radio-buttons'>
            {{#each option in gogovanOptions}}
              <span class="radio">
                {{view 'radio-button' name="selectionTest" selectionBinding='controller.selectedGogovanOption' value=option.id id=option.id}}
                <label class="radio-wrap small-only-text-center" {{bind-attr for=option.id}}>
                  {{option.name}}
                </label>
              </span>
            {{/each}}
          </div>
        </div>

        <div class="small-12 columns gogovan-req">
          <div class='description'>What portion of the Crossroads truck will this offer take up?</div>

          {{view "select"
            contentBinding='crossroadsOptions'
            optionLabelPath='content.name'
            optionValuePath='content.id'
            selectionBinding='selectedCrossroadsOption'
            prompt='Select'
            value=''}}
        </div>

        <div class="">
          <div class="row">
            <div class="small-12 columns complete-review-button">
              <a href="#" {{action "completeReview" }} class="button expand">Complete Review</a>
            </div>
          </div>
        </div>

      {{/if}}

    {{/if}}
  </div>
</section>

