<h3>Messages</h3>

{{#each}}
  <div class='message_box'>
  <div class='message_details'>
    {{t inbox.full_name firstNameBinding=this.sender.firstName lastNameBinding=this.sender.lastName}}

    {{#if this.sender.isReviewer}}
      (v)
    {{else}}
      (d)
    {{/if}}

    →

    {{t inbox.full_name firstNameBinding=this.recipient.firstName lastNameBinding=this.recipient.lastName}}

    {{#if this.recipient.isReviewer}}
      (v)
    {{else}}
      (d)
    {{/if}}

    <br/>

    {{display-timeago this.createdAt}}
  </div>

  <br/>

  {{body}}<br/> <br/>
  </div>
{{/each}}

{{textarea type='text' value=body name="body" rows=10 cols=20 }}

<br/>
<button {{action "sendMassage"}}>Send</button>
