{{#each}}
  <div class='message_box'>
  <div class='message_details'>
    {{t inbox.full_name firstNameBinding=this.sender.firstName lastNameBinding=this.sender.lastName}}
    {{this.sender.roleSign}}

    →

    {{t inbox.full_name firstNameBinding=this.recipient.firstName lastNameBinding=this.recipient.lastName}}
    {{this.recipient.roleSign}}

    <br/>
    {{display-timeago this.createdAt}}
  </div>

  <br/>

  {{body}}<br/> <br/>
  </div>
{{/each}}

{{textarea type='text' value=body name="body" rows=10 cols=20 }}

<br/>
<button {{action "sendMassage"}}>Send</button>
