<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "gogovan.book_van.title"}}</h1>
  </section>
</nav>

<section class="main-section book-van">
  <div class="row">
    <div class="small-12 columns with-btm">

      <div class="row">
        <h3>{{t "gogovan.book_van.location"}}</h3>
      </div>

      <div class="row">
        <div class="small-6 columns">
          {{view "select"
            content=territories
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding='selectedTerritory'
            valueBinding='territoryId'
            prompt="All"
            classNames='selectAddress' }}
        </div>

        <div class="small-6 columns">
          {{view "select"
            contentBinding='districtsByTerritory'
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding='selectedDistrict'
            valueBinding="districtId"
            classNames='selectAddress district' }}
        </div>
      </div>

      <div class="row">
        <h3>{{t "gogovan.book_van.select_day"}}</h3>
        <div class='description'>{{t "gogovan.book_van.crossroads_time"}}</div>
      </div>

      <div class="row">
        <div class="small-7 columns date_selector">
          {{view "select-date" name='selectedDate' id='selectedDate' type='date' value='' selectionBinding='selectedDate' classBinding='invalidDate:error'}}
        </div>
        <div class="small-5 columns time_selector">
          {{view "select-time" name='selectedTime' id='selectedTime' type='text' value='' selectionBinding='selectedTime' classBinding='invalidTime:error'}}
        </div>
      </div>

      <div class="row ui">
        <h3>{{t "gogovan.book_van.requirements"}}</h3>
        <div class='checkbox'>
          {{input type="checkbox" name="speakEnglish" checked=speakEnglish id='1' }}
          <label for='1'><span>{{t "gogovan.book_van.speak_english"}}</span></label>
        </div>

        <div class='checkbox'>
          {{input type="checkbox" name="borrowTrolley" checked=borrowTrolley id='2' }}
          <label for='2'><span>{{t "gogovan.book_van.trolly_cost"}}</span></label>
        </div>

        <div class='checkbox'>
          {{input type="checkbox" name="porterage" checked=porterage id='3' }}
          <label for='3'><span>{{t "gogovan.book_van.porterage"}}</span></label>
        </div>
      </div>

      <div class="btm">
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <button {{action 'bookVan'}} class='button expand'>{{t "gogovan.book_van.get_quote"}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
