<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "gogovan.book_van.title"}}</h1>
  </section>
</nav>

<section class="main-section book-van">
  <div class="row">
    <div class="small-12 columns with-btm">

      <div class="row">
        <h3>{{t "gogovan.book_van.location"}}</h3>
      </div>

      <div class="row">
        <div class="small-6 columns">
          {{view "select"
            content=territories
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding='selectedTerritory'
            valueBinding='territoryId'
            prompt="All"
            classNames='selectAddress' }}
        </div>

        <div class="small-6 columns">
          {{view "select"
            contentBinding='districtsByTerritory'
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding='selectedDistrict'
            valueBinding="districtId"
            classNames='selectAddress district' }}
        </div>
      </div>

      <div class="row">
        <h3>{{t "gogovan.book_van.select_day"}}</h3>
        <div class='description'>{{t "gogovan.book_van.crossroads_time"}}</div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <input type='text'>
        </div>
        <div class="small-6 columns">
          <input type='text'>
        </div>
      </div>

      <div class="row">
        <h3>{{t "gogovan.book_van.requirements"}}</h3>
        <div class='checkbox'>
          {{view Ember.Checkbox id='1' }}
          <label for='1'><span>{{t "gogovan.book_van.speak_english"}}</span></label>
        </div>

        <div class='checkbox'>
          {{view Ember.Checkbox id='2' }}
          <label for='2'><span>{{t "gogovan.book_van.trolly_cost"}}</span></label>
        </div>

        <div class='checkbox'>
          {{view Ember.Checkbox id='3' }}
          <label for='3'><span>{{t "gogovan.book_van.porterage"}}</span></label>
        </div>
      </div>

      <div class="row">
        <div class='description'>{{t "gogovan.book_van.extra_time_charge"}}</div>
      </div>

      <div class="row">
        {{view Ember.Select}}
      </div>

      <div class="btm">
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <button {{action ''}} class='button expand'>{{t "gogovan.book_van.get_quote"}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
