<div class='contact_details'>
  <h3>{{t "contact.title"}}</h3>
  <hr>
  <p>{{t "contact.confirm_location"}}</p>

  <label>{{t "contact.name"}}</label>
  {{view 'full-name-input' user=user}}

  <br/>

  <label>{{t "contact.phone"}}</label>
  <span>+852 {{input type="text" value=user.mobile name="mobile" id="mobile" maxlength="8" data-actual-mobile=""}}</span>

  <br/>

  <div>{{t "contact.address"}}</div>
  {{view "select"
    content=territories
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selectionBinding='selectedTerritory'
    value=''
    prompt="All"
    classNames='selectAddress'
  }}

  {{view "select"
    contentBinding='districtsByTerritory'
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selectionBinding='selectedDistrict'
    value=''
    prompt="Select District"
    classNames='selectAddress district'
  }}

  <br/>

  <label>{{t "contact.street"}}</label>
  {{input type="text" value=street name="street" id="street"}}

  <br/>

  <label>{{t "contact.building"}}</label>
  {{input type="text" value=building name="building" id="building"}}

  <br/>

  <label>{{t "contact.flat"}}</label>
  {{input type="text" value=flat name="flat" id="flat"}}

  <br/>

  <button {{action 'saveContactDetails'}} class="input input_size_sm submitForm">{{t "contact.done"}}</button>
</div>
