<h3>Donation Details</h3>

<div class='donation_details_block'>
  {{#link-to 'offer' this.offer}}Modify{{/link-to}}

  <button {{action 'cancelOffer' this.offer}} class='removeRecord'>Cancel Donation</button>

  <div class='confirmed_block'>
    <h4 class='confirmed_title'>Confirmed Items({{confirmedItems.length}})</h4>
    <span class='confirmed_link'>{{#link-to 'offer.review_status' this.offer}}View all{{/link-to}}</span>

    <div>
      {{#each confirmedItems}}
        {{cloudinary-image imageId=defaultImageId width=50 height=50 className='fav_image'}}
      {{/each}}
    </div>
  </div>

  <table class='donation_details'>
    <tr>
      <td>Charitable sale approved?</td>
      <td>{{offer.isCharitableSale}}</td>
    </tr>

    <tr>
      <td>Transportation</td>
      <td>{{this.deliveryType}}</td>
    </tr>

    <tr>
      <td>Date</td>
      <td>{{display-date schedule.scheduledAt}}</td>
    </tr>

    <tr>
      <td>Time</td>
      <td>{{schedule.slotName}}</td>
    </tr>

    <tr>
      <td>Contact Name</td>
      <td>{{contact.name}}</td>
    </tr>

    <tr>
      <td>Contact Phone</td>
      <td>+852 {{contact.mobile}}</td>
    </tr>

    <tr>
      <td>Address</td>
      <td>{{html-safestring contact.address.fullAddress}}</td>
    </tr>
  </table>
</div>
