<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offers' classNames="back"}}{{t "application.home"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Donation Details</h1>
  </section>
</nav>

{{#if isDeleting}}
  {{partial 'loading'}}
{{else}}
  <section class="main-section">
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-5 columns">
            {{#link-to 'offer' this.offer classNames='button expand'}}Modify{{/link-to}}
          </div>
          <div class="small-7 columns">
            <a href="#" {{action 'cancelOffer' this.offer}} class="button secondary expand">Cancel Donation</a>
          </div>
        </div>

        <h2>Confirmed Items <span>{{confirmedItems.length}}</span>{{#link-to 'offer.review_status' this.offer classNames="right"}}View all{{/link-to}}</h2>


        <ul class="small-block-grid-8 medium-block-grid-12 large-block-grid-12 confirmed-items">
          {{#each item in confirmedItems}}
            <li>
              <a href="#">
                <img {{bind-attr src=item.displayImageUrl}} class="thumb small" />
              </a>
            </li>
          {{/each}}
        </ul>

        <ul class="items-info">
          <li>
            <span class="left">Charitable sale approved?</span>
            <strong class="right">{{offer.isCharitableSale}}</strong>
          </li>
          <li>
            <span class="left">Transportation</span>
            <strong class="right">{{this.deliveryType}}</strong>
          </li>
          <li>
            <span class="left">Date</span>
            <strong class="right">{{display-date schedule.scheduledAt}}</strong>
          </li>
          <li>
            <span class="left">Time</span>
            <strong class="right">{{schedule.slotName}}</strong>
          </li>
          <li>
            <span class="left">Contact Name</span>
            <strong class="right">{{contact.name}}</strong>
          </li>
          <li>
            <span class="left">Contact Phone</span>
            <strong class="right">{{contact.mobile}}</strong>
          </li>
          <li>
            <span class="left">Address</span>
            <strong class="right text-right">{{{contact.address.fullAddress}}}</strong>
          </li>

          {{#if isGogovan}}
            <li>
              <span class="left">status</span>
              <strong class="right text-right">{{{gogovanOrder.status}}}</strong>
            </li>
          {{/if}}
        <ul>

       </div>
    </div>
  </section>
{{/if}}
