<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">
      {{#if controller.newOffers}}
        {{t "inbox.title"}}
      {{else}}
        {{#if controller.myOffers}}
          {{t "inbox.my_offers"}}
        {{else}}
          {{t "inbox.in_review"}}
        {{/if}}
      {{/if}}({{this.length}})
    </h1>
  </section>
</nav>

<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <ul class="list list-activity">
        {{#each}}
          <li>
            {{#link-to 'review_offer' this}}
              <span class="avatar">
                <span class="no-avatar">{{this.createdBy.nameInitial}}</span>
              </span>

              <span class="info">
                <h3>
                  {{t "full_name" firstNameBinding=createdBy.firstName lastNameBinding=createdBy.lastName}}
                </h3>
                <p>{{t "inbox.new_items"}}: {{itemCount}}</p>
                {{#if this.unreadMessagesCount}}
                  <p>{{t "inbox.unread_messages" unreadMessagesCountBinding=unreadMessagesCount}}</p>
                {{/if}}
                <p>{{createdBy.address.district.name}}</p>

                {{#if controller.newOffers}}
                  {{view 'time-ago' timeValue=submittedAt}}
                {{else}}
                  {{view 'time-ago' timeValue=reviewedAt}}
                {{/if}}
              </span>

              <span class="list-image">
                <img {{bind-attr src=displayImageUrl}} class="thumb small" />
              </span>

            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
