<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">
      {{#if controller.newOffers}}
        {{t "inbox.title"}}
      {{else}}
        {{t "inbox.in_review"}}
      {{/if}}({{this.length}})
    </h1>
  </section>
</nav>

<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <ul class="list review-items">
        {{#each}}
          <li>
            {{#link-to 'review_offer' this}}
              <div class="small-3 columns">
                {{#if this.user.image}}
                  <img {{bind-attr src="this.user.image"}}><br/>
                {{else}}
                  <div id="default_profile_image">
                    <div id="background">
                      <div id='name'>{{this.user.nameInitial}}</div>
                    </div>
                  </div>
                {{/if}}
              </div>

              <div class="small-6 columns">

                {{t "full_name" firstNameBinding=user.firstName lastNameBinding=user.lastName}}<br/>
                {{t "inbox.new_items"}}: {{itemCount}}<br/>
                {{#if this.unreadMessagesCount}}
                  {{t "inbox.unread_messages" unreadMessagesCountBinding=unreadMessagesCount}}<br/>
                {{/if}}
                {{user.address.district.name}}<br/>

                {{#if controller.newOffers}}
                  {{view 'time-ago' timeValue=submittedAt}}
                {{else}}
                  {{view 'time-ago' timeValue=reviewedAt}}
                {{/if}}
              </div>

              <div class="small-3 columns">
                {{cloudinary-image imageId=displayImageId width=50 height=50 className='fav_image'}}<br/>
              </div>

            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
