<div class='contact_details'>
  <h3>Contact Details</h3>
  <hr>
  <p>Who should we call to confirm location & address detail?</p>

  <label>Name</label>
  {{input type="text" value=name name="name" id="name"}}

  <br/>

  <label>Phone</label>
  <span>+852 {{input type="text" value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" data-actual-mobile=""}}</span>

  <br/>


  <br/>

  <label>Street</label>
  {{input type="text" value=street name="street" id="street"}}

  <br/>

  <label>Building</label>
  {{input type="text" value=building name="building" id="building"}}

  <br/>

  <label>Flat</label>
  {{input type="text" value=flat name="flat" id="flat"}}

  <br/>

  <button {{action 'saveContactDetails'}}>Done</button>
</div>
