<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offers' classNames="back"}}{{t "application.home"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.index.item_count" itemCountBinding=itemCount}}</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row">
    <div class="small-12 columns">

      {{#if itemCount }}

        <div class="row">
          {{#if isDraft}}
            <div class="small-6 columns">
              <a href="#" {{action 'addItem'}} class="button secondary expand"><span class="icon-add"></span>{{t "offer.index.add_item"}}</a>
            </div>
            <div class="small-6 columns">
              {{#link-to 'offer.confirm' classNames='button expand'}}{{t "offer.index.confirm"}}{{/link-to}}
            </div>
          {{else}}
            {{#link-to 'offer.review_status' classNames='button expand'}}{{t "offer.index.review"}}{{/link-to}}
          {{/if}}
        </div>

        <p class="link text-right"><a href="#" {{action 'cancelOffer' this}}>{{t "offer.index.cancel"}}</a></p>

        <ul class="list list-offer-items">
          {{#each itemsById}}
            <li>
              {{#link-to 'item.edit' this}}
                <div class="thumb small-1 large-1 column">
                  <img {{bind-attr src=defaultImageURL }}>
                </div>
                <div class="vcenter small-8 large-10 column">
                  <div class="ellipsis-container one-line">
                    <h3 class="ellipsis">{{{donorDescription}}}</h3>
                  </div>
                  <div>{{donorCondition.name}}</div>
                </div>
                <div class="thumb small-2 large-1 column"></div>
              {{/link-to}}
            </li>
          {{/each}}
        </ul>

      {{else}}

        <p><span class="icon-no-items"></span></p>
        <p class="no-items">You don't have any items in this offer yet. Please add your first item!</p>

        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <a href="#" {{action "addItem"}} class="button expand"><span class="icon-add"></span>{{t "offer.index.add_item"}}</a>
          </div>
        </div>

      {{/if}}
    </div>
  </div>
</section>
