<p>
Offer Items({{itemCount}})
</p>

{{#if itemCount }}

  {{#if isDrafted}}
    <button  {{action "addItem"}}>Add Item</button>
    {{#link-to 'offer.confirm'}}All Done, Next{{/link-to}}
  {{else}}
    {{#link-to 'offer.review_status'}}Review Status{{/link-to}}
  {{/if}}

  <p>
    <table cellspacing="20">
      <tr><th>Description</th><th>Condition</th></tr>
      {{#each items}}
        <tr>
          <td><img {{bind-attr src=defaultImage }}></td>
          <td>{{this._data.donorDescription}}
          <br/>{{this._data.donorCondition}}</td>
          <td>{{#link-to 'item' this}}Show{{/link-to}}</td>
          <td><button {{action 'removeItem' this}} class='removeItem'>Remove</button></td>
        </tr>
      {{/each}}
    </table>
  </p>

{{else}}

  <p class='no_item_text'>
    "You don't have any items
    in this offer yet. Please add
    your first item!"
  </p>
  <button {{action "addItem"}}>Add Item</button>

{{/if}}
