<p class='item_count'>
Offer Items({{itemCount}})
</p>

{{#if itemCount }}

  {{#if isDraft}}
    <button {{action "addItem"}} class='add_item'>Add Item</button>
    {{#link-to 'offer.confirm'}}All Done, Next{{/link-to}}
  {{else}}
    {{#link-to 'offer.review_status'}}Review Status{{/link-to}}
  {{/if}}

  <p><button {{action 'cancelOffer' this}} class='removeRecord'>Cancel Offer</button><p>

  <p>
    <table cellspacing="20">
      <tr><th>Description</th><th>Condition</th></tr>
      {{#each itemsById}}
        <tr>
          <td><img {{bind-attr src=defaultImageURL }}></td>
          <td>
            <div class='item_name'>
              {{#link-to 'item' this}}{{donorDescription}}{{/link-to}}
            </div>
          <br/>{{donorCondition.name}}</td>
          <td>{{#link-to 'item.edit' this}}Edit{{/link-to}}</td>
          <td><button {{action 'removeItem' this}} class='removeItem removeRecord'>Remove</button></td>
        </tr>
      {{/each}}
    </table>
  </p>

{{else}}

  <div class='no_item_msg'>{{t offer.no_items}}</div>
  <button {{action "addItem"}}>Add Item</button>

{{/if}}
