Offer Items({{itemCount}})

<p>
  {{#if itemCount }}

    <button  {{action "addItem"}}>Add Item</button>
    <button>All Done, Next</button>

    <p>
      <b>Offer details:</b>
      <ul>
        <li>State: {{state}}</li>
        <li>Collection contact name: {{collectionContactName}}</li>
      </ul>
    </p>
    <br/>

    <p>
      <b>Items details:</b>
      <table>
        <tr><th>Description</th><th>Condition</th></tr>
        {{#each items}}
          <tr>
            <td>{{this._data.donorDescription}}</td>
            <td>{{this._data.donorCondition}}</td>
            <td>{{#link-to 'item' this}}Show{{/link-to}}</td>
          </tr>
        {{/each}}
      </table>
    </p>

  {{else}}

    <p class='no_item_text'>
      "You don't have any items
      in this offer yet. Please add
      your first item!"
    </p>
    <button {{action "addItem"}}>Add Item</button>

  {{/if}}
</p>
