<nav class="tab-bar offer_details_title">
  <section class="left-small">
    {{#link-to 'offers.index' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t 'offer.offer_details.heading'}}</h1>
  </section>
</nav>
<section class="main-section offer_details">
  <div class="row">
    <div class="small-12 columns">

      {{partial 'offer/offer_top_section'}}

      <div class="tabs-content">
        <ul class="list list-offer-items">

          {{#each item in sortedItems}}
            <li>
              {{#if item.isOffer}}
                {{partial 'offer/recent_offer_message'}}
              {{else}}
                {{partial 'offer/recent_item_message'}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
