<h3>{{t "plan_delivery.title"}}</h3>
<div class='plan_delivery'>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>{{t "plan_delivery.fastest.title"}}</strong>
      <p>{{t "plan_delivery.fastest.info"}}</p>
      <button>{{t "plan_delivery.fastest.booking_button"}}</button>
    </td>
    <td align='right'>
      {{t "plan_delivery.fastest.cost"}}<br/>
      {{t "plan_delivery.fastest.discount"}}<br/>
      <img src="assets/images/gogo-van.png" class='delivery-image'/>
    </td>
  </table>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>{{t "plan_delivery.alternate.title"}}</strong>
      <p>{{t "plan_delivery.alternate.info"}}</p>
      <button {{action 'startDelivery' 'alternate'}}>{{t "plan_delivery.alternate.booking_button"}}</button>
    </td>
    <td align='right'>
      {{t "plan_delivery.alternate.cost"}}<br/>
      {{#link-to ''}}{{t "plan_delivery.alternate.cost.info"}}{{/link-to}}<br/>
      <img src="assets/images/alternate-delivery.jpeg" class='delivery-image'/>
    </td>
  </table>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>{{t "plan_delivery.crossroads.title"}}</strong>
      <p>{{t "plan_delivery.crossroads.info"}}</p>
      <button>{{t "plan_delivery.crossroads.booking_button"}}</button>
    </td>
    <td align='right'>
      {{t "plan_delivery.crossroads.free"}}<br/>
      <img src="assets/images/logo_foundation.png" class='delivery-image'/>
    </td>
  </table>

</div>
