<div {{bind-attr class=":offer-status isSubmitted isUnderReview isReviewed isScheduled isClosed"}}>
  <div class='status-message'>
    {{#if model.isSubmitted}}
      {{t 'offer.offer_details.submitted_status'}}
    {{/if}}

    {{#if isUnderReview}}
      {{#if reviewedBy.displayImageUrl}}
        <span>
          {{view 'custom-img-tag' src=reviewedBy.displayImageUrl class="no-avatar"}}
        </span>
      {{else}}
        <span class="no-avatar">{{model.reviewedBy.nameInitial}}</span>
      {{/if}}
      <span>{{t 'offer.offer_details.in_review_status' firstNameBinding=model.reviewedBy.firstName}}</span>
    {{/if}}

    {{#if isReviewed}}
      {{t 'offer.offer_details.reviewed_message'}} {{t 'offer.offer_details.please'}} {{#link-to "offer.plan_delivery"}}{{t 'offer.offer_details.transport'}}{{/link-to}}.
    {{/if}}

    {{#if isClosed}}
      {{t 'offer.offer_details.closed_offer_message'}}
    {{/if}}

    {{#if isScheduled}}
      {{#if model.delivery.isAlternate}}
        {{t 'offer.offer_details.is_collection'}}
      {{/if}}

      {{#if model.delivery.isDropOff}}
        {{t 'offer.offer_details.is_drop_off'}}
      {{/if}}

      {{#if model.delivery.isGogovan}}
        {{t 'offer.offer_details.is_gogovan'}}
      {{/if}}

      <i class="fa fa-truck"></i>
      <b>
        {{#if model.delivery.isGogovan}}
          {{model.delivery.schedule.slotName}},
        {{/if}}

        {{schedule-time-status model.delivery.schedule.scheduledAt}}

        {{#if model.delivery.noGogovan}}
          , {{model.delivery.schedule.dayTime}}
        {{/if}}

      </b>
    {{/if}}
  </div>
</div>
