<h1>{{t "tour.step2.title" }}</h1>

<p class="note">{{t "tour.step2.quality_items"}}</p>

<ul class="list-intro">
  <li>
    <span class="icon-photograph"></span>
    {{t "tour.step2.photograph"}}
  </li>
  <li>
    <span class="icon-describe"></span>
    {{t "tour.step2.describe_item"}}
  </li>
  <li>
    <span class="icon-repeat"></span>
    {{t "tour.step2.repeat"}}
  </li>
</ul>

{{partial 'tour/skip_intro_button'}}
