<div>{{t tour.step2.title }}</div>

<div>{{t tour.step2.quality_items}}</div>

<div>{{t tour.step2.photograph}}</div>
<div>{{t tour.step2.describe_item}}</div>
<div>{{t tour.step2.repeat}}</div>
