<div>{{t tour.step3.title}}</div>

<div>{{t tour.step3.rush}}</div>
<div>{{t tour.step3.pay}}</div>
<div>{{t tour.step3.wait}}</div>
<div>{{t tour.step3.until}}</div>
<div>{{t tour.step3.drop}}</div>
<div>{{t tour.step3.arrange}}</div>
