<h1>{{t "tour.step3.title"}}</h1>

<ul class="list-intro">
  <li>
    <span class="icon-rush"></span>
    <h2>{{t "tour.step3.rush"}}</h2>
    <p>{{t "tour.step3.pay"}}</p>
  </li>
  <li>
    <span class="icon-wait"></span>
    <h2>{{t "tour.step3.wait"}}</h2>
    <p>{{t "tour.step3.until"}}</p>
  </li>
  <li>
    <span class="icon-drop-off"></span>
    <h2>{{t "tour.step3.drop"}}</h2>
    <p>{{t "tour.step3.arrange"}}</p>
  </li>
</ul>

{{partial 'tour/skip_intro_button'}}
