<h1>{{t "tour.step4.title"}}</h1>

<p class="note">{{t "tour.step4.confirm"}}</p>

<ul class="list-intro">
  <li>
    <span class="icon-confirmed"></span>
    {{t "tour.step4.accepted_items"}}
  </li>
  <li>
    <span class="icon-confirmed"></span>
    {{t "tour.step4.logistics"}}
  </li>
  <li>
    <span class="icon-confirmed"></span>
    {{t "tour.step4.anything_else"}}
  </li>
</ul>

{{partial 'tour/skip_intro_button'}}
