<div>{{t "tour.step4.title"}}</div>

<div>{{t "tour.step4.confirm"}}</div>
<div>{{t "tour.step4.accepted_items"}}</div>
<div>{{t "tour.step4.logistics"}}</div>
<div>{{t "tour.step4.anything_else"}}</div>
