<p>
  {{#if pendingOffer}}
    {{#link-to 'offer.index' pendingOffer}}{{t offer.index.add_items}}{{/link-to}}
  {{else}}
    {{#link-to 'offers.new'}}{{t offers.index.new_donation}}{{/link-to}}
  {{/if}}
</p>

<h3>{{t offers.index.my_offers}}</h3>

<ul>
  {{#each}}
    <li>
      Offer_id: {{ id }}
      <br/>
      {{t offers.index.name collectionContactNameBinding=collectionContactName}}
      <br/>
      {{t offers.index.total_items itemCountBinding=itemCount}}
      <br/>
      {{#link-to 'offer.index' this}}{{t offers.index.see_more}}{{/link-to}}
    </li>
  {{/each}}
</ul>
