<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    {{outlet appMenuList}}

    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Donations</h1>
      </section>

      <section class='right-small'>
        {{outlet unreadMessageCount}}
      </section>
    </nav>

    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">

          <a href="#" {{action 'newOffer'}} class="button expand">{{t "offers.index.new_donation"}}</a>

          <ul class="list list-items">

            {{#each offersWithItems}}

              <li>
                {{#if this.isScheduled }}
                  {{#link-to 'delivery.donation_details' this delivery}}
                    {{partial 'thumb_item_image'}}
                    <span class="info">
                      <h3>{{status}} ({{itemCount}} items)</h3>
                      {{display-date delivery.schedule.scheduledAt}}<br/>
                      {{delivery.schedule.slotName}}<br/>
                      {{partial 'unread_message_bubble'}}
                    </span>

                  {{/link-to}}
                {{/if}}

                {{#if this.isUnderReview}}
                  {{#link-to 'offer.review_status' this}}
                    {{partial 'thumb_item_image'}}
                    <span class="info">
                      <h3>{{status}} ({{itemCount}} items)</h3>
                      Approved Items: {{approvedtems.length}}<br/>
                      Rejected Items: {{rejectedItems.length}}<br/>
                      {{partial 'unread_message_bubble'}}
                    </span>

                  {{/link-to}}
                {{/if}}


                {{#if this.isSubmitted}}
                  {{#link-to 'offer.review_status' this}}
                    {{partial 'thumb_item_image'}}
                    <span class="info">
                      <h3>{{status}} ({{itemCount}} items)</h3>
                      Approved Items: {{approvedtems.length}}<br/>
                      Rejected Items: {{rejectedItems.length}}
                      {{partial 'unread_message_bubble'}}
                    </span>

                  {{/link-to}}
                {{/if}}

                {{#if this.isDraft }}
                  {{#link-to 'offer' this}}
                    {{partial 'thumb_item_image'}}
                    <span class="info">
                      {{t "offers.index.complete_offer"}}
                      {{partial 'unread_message_bubble'}}
                    </span>

                  {{/link-to}}
                {{/if}}


              </li>
            {{/each}}

          </ul>

          <hr>

          <h2>Be a Hong-Kong Hero</h2>

          <ul class="list">
            <li>
              <a href="#">
                <span class="thumb">
                  <img src="assets/images/thumb.jpg" alt="">
                </span>
                <span class="info">
                  One of your Facebook friends has something to give to GoodCity.HK. Help them find out how!
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="thumb">
                  <img src="assets/images/thumb.jpg" alt="">
                </span>
                <span class="info">
                  Donate a “top five” item & get 20% off a replacement from Fortress.
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="thumb">
                  <img src="assets/images/thumb.jpg" alt="">
                </span>
                <span class="info">
                  Donate a “top five” item & get 20% off a replacement from Fortress.
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="thumb">
                  <img src="assets/images/thumb.jpg" alt="">
                </span>
                <span class="info">
                  Donate a “top five” item & get 20% off a replacement from Fortress.
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</div>

