<p class='offer_link'>
  <button {{action 'newOffer'}}>{{t offers.index.new_donation}}</button>
</p>

<h3>{{t offers.index.my_offers}}</h3>

<ul class='offer_list'>
  {{#each offersWithItems}}
    <li class="contact">
      Offer_id: {{ id }}
      <br/>
      {{#if this.unreadMessagesCount}}
        {{t offers.index.unread_messages unreadMessagesCountBinding=unreadMessagesCount}}
        {{#link-to 'offer.messages' this}}{{t offers.index.see_more}}{{/link-to}}
        <br/>
      {{/if}}
      {{t offers.index.total_items itemCountBinding=itemCount}}
      {{#if this.isDraft }}
        {{#link-to 'offer' this}}{{t offers.index.complete_offer}}{{/link-to}}
      {{/if}}
      {{#if this.isScheduled }}
        {{#link-to 'delivery.donation_details' this delivery}}{{t offer.details}}{{/link-to}}
      {{/if}}
      {{#if this.isSubmitted}}
        {{#link-to 'offer.review_status' this}}{{t offers.index.see_more}}{{/link-to}}
      {{/if}}
    </li>
    <br/>
  {{/each}}
</ul>
