<p class='offer_link'>
  {{#link-to 'offers.new'}}{{t offers.index.new_donation}}{{/link-to}}
</p>

<h3>{{t offers.index.my_offers}}</h3>

<ul class='offer_list'>
  {{#each}}
    <li class="contact">
      Offer_id: {{ id }}
      <br/>
      {{t offers.index.total_items itemCountBinding=itemCount}}
      <br/>
      {{complete-offer offer=this}}
    </li>
    <br/>
  {{/each}}
</ul>
