<div>{{t _resend.no_sms}}</div>
<div>{{t _resend.please_wait}}</div>
{{#if view.isLogin}}
  <button id='resend-pin'>{{t _resend.resend}}</button>
{{else}}
  <button {{action "resendPin"}} id='resend-pin'>{{t _resend.resend}}</button>
{{/if}}
