<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>App menu</label></li>
    <li>{{#link-to 'index'}}{{t "application.home"}}{{/link-to}}</li>

    {{#if session.currentUser.isStaff}}
      <li>{{#link-to 'inbox'}}{{t "inbox.title"}}{{/link-to}}</li>
      <li>{{#link-to 'inbox.under_review'}}{{t "inbox.in_review"}}{{/link-to}}</li>
      <li>{{#link-to ''}}{{t "inbox.my_list"}}{{/link-to}}</li>
    {{else}}
      <li>{{#link-to 'offers'}}{{t "application.all_offers"}}{{/link-to}}</li>
      <li>{{#link-to 'i18n'}}I18n examples{{/link-to}}</li>
    {{/if}}

    <li><a href="#" {{action 'logMeOut'}}>{{t "application.logout"}}</a></li>
  </ul>
</aside>
