{{outlet unreadMessageCount}}

<div>
  {{#link-to 'index'}}{{t application.home}}{{/link-to}} |

  {{#if currentUser.isStaff}}
    {{#link-to 'inbox'}}{{t inbox.title}}{{/link-to}} |
  {{else}}
    {{#link-to 'offers'}}{{t application.all_offers}}{{/link-to}} |
  {{/if}}

  {{#link-to 'i18n'}}I18n examples{{/link-to}} |
  {{#if isLoggedIn }}
    <a href="#" {{action 'logMeOut'}}>{{t application.logout}}</a>
  {{else}}
    {{#link-to 'login'}}{{t application.login}}{{/link-to}} |
    {{#link-to 'register'}}{{t application.register}}{{/link-to}}
  {{/if}}
</div>

{{outlet}}
{{outlet unreadMessages}}
