<div>{{t "index.title"}}</div>

<div>{{t "goodcity.hk"}}</div>

<div>{{t "index.donate_goods"}}</div>

<div>{{#link-to 'tour' 1}}{{t "index.how"}}{{/link-to}}</div>
<div>{{#link-to 'register'}}{{t "skip_intro"}}{{/link-to}}</div>

{{ language-switcher currentLanguage=currentLanguage action="setLang"}}

