<div>
  <div>{{t login.hk_only}}</div>
  <div id="mobile_error"></div>
  +852 {{input type="text" value=mobilePhone name="mobilePhone" id="mobile"}}
</div>
<div>
  {{partial 'verification_pin'}}
</div>
<button {{action "authenticateUser"}} id='submit_pin'>{{t login.login}}</button>
{{partial 'resend'}}
