<div>
{{#each message in filteredContent}}
  <div class='message_box' {{bind-attr id=message.id}}>
    <div class='message_details'>
      {{t "full_name" firstNameBinding=message.sender.firstName lastNameBinding=message.sender.lastName}}
      {{message.sender.roleInitials}}
      <br/>
      {{view 'time-ago' timeValue=message.createdAt}}

      {{#if controller.itemMessage}}
        <a href="#/" {{action showMessage message}}>see here</a>
      {{/if}}

      {{#if controller.offerMessage}}
        {{#if message.itemImageUrl}}
          <div class='item_message'>
            <img {{bind-attr src=message.itemImageUrl}} class="thumb small" />
          </div>
        {{/if}}
      {{/if}}

    </div>

  {{#if controller.offerMessage}}
    {{message.body}}
  {{/if}}
  </div>
{{/each}}

{{#validatable-form class="form-horizontal" action="sendMessage" on="submit"}}
  {{textarea type='text' value=body name="body" rows=5 cols=20 required='true'}}

  <br/>
  <button>Send</button>
  </div>
{{/validatable-form}}
