<div>
{{#each message in filteredContent}}
  <div {{bind-attr class='message.myMessage:my_message:received_message'}} {{bind-attr id=message.id}}>
    <div class='message_details'>
      {{t "full_name" firstNameBinding=message.sender.firstName lastNameBinding=message.sender.lastName}}
      {{message.sender.roleInitials}}
      <br/>
      {{view 'time-ago' timeValue=message.createdAt}}

      {{#if controller.itemMessage}}
        <a href="#/" {{action showMessage message}}>see here</a>
      {{/if}}

      {{#if controller.offerMessage}}
        {{#if message.itemImageUrl}}
          <div class='item_message'>
            <img {{bind-attr src=message.itemImageUrl}} class="thumb small" />
          </div>
        {{/if}}
      {{/if}}

    </div>

  {{#if controller.displayMessage}}
    {{message.body}}
  {{/if}}
  </div>
{{/each}}

{{#validatable-form class="form-horizontal message-form" action="sendMessage" on="submit"}}

  <div class="row">
    <div class="small-9 large-10 medium-10 columns">
      {{textarea type='text' value=body name="body" rows=3 cols=20 required='true'}}
    </div>
    <div class="small-3 large-2 medium-2 columns">
      <button>Send</button>
    </div>
  </div>
{{/validatable-form}}
