{{itemTypeId}}
{{itemTypeName}}
<div class="row ">
  <div class="small-12">
    {{#if itemTypeId}}
      <div class="with-btm intro">
        {{view MyContainerView elementId="my_container_view"}}
        {{view addComponentOfItem controller=this.controller}}
      </div>
    {{else}}
      <p>
        <i class="icon-empty-items fa fa-info-circle fa-5x"></i>
        <p class="no-items">Please choose Item Type first!</p>
      </p>
    {{/if}}
  </div>
</div>
