<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'review_offer' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Review Item</h1>
  </section>
</nav>
<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="row top-bottom-margin">
        <div class="small-2 columns">
          {{cloudinary-image imageId=defaultImageId width=100 height=100 className='fav_image'}}
        </div>
        <div class="small-10 columns">
          {{donorDescription}}
          <br>
          Condition: {{donorCondition.name}}
        </div>
      </div>
      <div class="row top-bottom-margin">
        <div class="small-12 columns link">
          {{item-type getItemId="getItemId" }}
          <a href="#" class="right">View labeling guide</a>
        </div>
     </div>
    <div class="row row-grey">
        <dl class="tabs" data-tab>
          <dd class="active small-3 columns text-center arrow-down">
          {{#link-to 'review_item.accept'}}
            <i class="fa fa-check-circle fa-2x"></i>
            <div>{{t "review_item.accept"}}</div>
          {{/link-to}}
          </a>
          </dd>
          <dd class="small-3 columns text-center">
            <a href="#panel2">
              <i class="fa fa-times-circle fa-2x"></i>
              <div>{{t "review_item.reject"}}</div>
            </a>
          </dd>
          <dd class="small-3 columns text-center">
            {{#link-to 'review_item.donor_messages'}}
            <i class="fa fa-comment-o fa-2x"></i>
            <div>{{t "review_item.donor_message"}}</div>
          {{/link-to}}</dd>
          <dd class="small-3 columns text-center">
            {{#link-to 'review_item.supervisor_messages'}}
              <i class="fa fa-comment-o fa-2x"></i>
              <div>{{t "review_item.supervisor_message"}}</div>
            {{/link-to}}
          </dd>
        </dl>
        <div class="tabs-content">
            <br/>
            {{outlet}}
        </div>
      </div>
    </div>
  </div>
</section>
