{{ partial tourStep }}

{{#if lastStep }}
  <div>{{#link-to 'register'}}{{t tour.register }}{{/link-to}}</div>
  {{else}}
  <div>{{#link-to 'tour' nextStep}}{{t tour.next }}{{/link-to}} | {{#link-to 'register' }}{{t skip_intro}}{{/link-to}}</div>
{{/if}}
