<section class="main-section">

  <div class="row">

    <div class="small-12 columns intro">

      <div class="tour_slides">
        <div>{{ partial "tour/1" }}</div>
        <div>{{ partial "tour/2" }}</div>
        <div>{{ partial "tour/3" }}</div>
        <div>{{ partial "tour/4" }}</div>
        <div>{{ partial "tour/5" }}</div>
      </div>

      <div class="row">
        <div class="small-10 small-offset-1 columns">
          {{#link-to 'register' classNames="button expand"}}{{t "skip_intro"}}{{/link-to}}
        </div>
      </div>

    </div>
  </div>
</section>

